{% extends "base.html" %}
{% block title %} Invites {% endblock %}
{% block content %}
    <h1>Your Invites ({{ inv_cnt }})</h1>
    
    {% for data in page_data %}
		<div class="invite">
		    <div class="header">
		        You were invited to
		        <a href='{{ url_for('party', party_id=data[0]['party_id']) }}'>{{ data[0]['name'] }}</a>
		    </div>
		    <div class="description">
		        Invited on {{ data[1]['invitation_date'] }} <br>
		        Party Time: {{ data[0]['time'] }} <br>
		        Party Date: {{ data[0]['date'] }} <br>
		    </div>
		    <div class="choice">
		        {% if data[1]['answer'] == 1 %}
			        <img class="choiceImage" src="{{ url_for('static', filename='accepted.svg.png') }}">
		        {% elif data[1]['answer'] == 0 %}
			        <img class="choiceImage" src="{{ url_for('static', filename='rejected.svg.png') }}">
		        {% else %}
			        <form method="post" action="{{ url_for('accept') }}">
				        <button type="submit" value="{{ data[0]['party_id']  }}" name="party_id">
			                <img class="choiceImage" src="{{ url_for('static', filename='accepted.svg.png') }}">
				        </button>
			        </form> 		
			        <form method="post" action="{{ url_for('reject') }}">
				        <button type="submit" value="{{ data[0]['party_id']  }}" name="party_id">
			                <img class="choiceImage" src="{{ url_for('static', filename='rejected.svg.png') }}">
				        </button>
			        </form>  
		        {% endif %}
		     </div>
		</div>
    {% endfor %}
{% endblock %}

