{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
    <h2>Signup</h2>
    <form method="post" action="{{ url_for('signup') }}">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name" value="{{ request.form['name'] }}"></input>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Email" value="{{ request.form['email'] }}"></input>
        </div>
        <div>
            <label for="age">Age</label>
            <input type="text" name="age" placeholder="Age" value="{{ request.form['age'] }}"></input>
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
    
    <h2>Login</h2>
    <form method="post" action="{{ url_for('login') }}">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Email" value="{{ request.form['email'] }}"></input>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
{% endblock %}

