{% extends "base.html" %}
{% block title %} Your Requests {% endblock %}
{% block content %}
    <h1>Your Requests ({{ req_cnt }})</h1>
    
    {% for data in page_data %}
		<div class="invite">
		    <div class="header">
                You requested an invite to
                <a href='{{ url_for('party', party_id=data[0]['party_id']) }}'>{{ data[0]['name'] }}</a>
		    </div>
		    <div class="description">
		        Requested on {{ data[1]['request_date'] }} <br>
		        Party Time: {{ data[0]['time'] }} <br>
		        Party Date: {{ data[0]['date'] }} <br>
		    </div>
		    <div class="choice">
                {% if data[1]['answer'] == 1 %}
			        <img class="choiceImage" src="{{ url_for('static', filename='accepted.svg.png') }}">
                {% elif data[1]['answer'] == 0 %}
			        <img class="choiceImage" src="{{ url_for('static', filename='rejected.svg.png') }}">
                {% else %}
			        <img class="choiceImage" src="{{ url_for('static', filename='pending.svg.png') }}">
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
